.cookie-consent-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

.cookie-consent-popup.open {
    display: block;
    opacity: 1;
}

.cookie-consent-controls {
    max-height: 0;
    overflow: hidden;
}

.cookie-consent-controls.open {
    max-height: 600px;
}

.cookie-consent-details {
    max-height: 0;
    overflow: hidden;
}

.cookie-consent-details.open {
    max-height: 600px;
}
