.cookie-consent-popup {
    display: none;
}

.cookie-consent-popup.open {
    display: block;
}

.cookie-consent-controls {
    display: none
}

.cookie-consent-controls.open {
    display: block;
}

.cookie-consent-details {
    display: none
}

.cookie-consent-details.open {
    display: block;
}
